.content{
    display:inline-block;
    width: auto;

    float: right;
}

.w3{
    width: 50%;
}
.container{
    display:flex;
    justify-content: start;
    
}
.cc{
    display: inline-block;
    width: 50vw;
    float: left;
}

span img{
    width: 12vw;
}
.name{
    
   }