.main{
    margin-left: 15rem;
}
.w1{
    width: 50%;
}

.body{
    width: 100%
   }
   
   footer
   {
       bottom: 0;
       position: fixed;
       width: 100%;
    }

    input{
        width: 100%;
    }
   