<app-header></app-header>

<div class="body">
<mat-card class="w1 mb-4 mt-4 mx-auto shadow-lg">
<div>
  <mat-card-title class="text-center font-weight-bold mt-2">Add Candidates </mat-card-title> 
  <hr>
</div>

<mat-card-content>
<div [hidden]="submitted">
    <form #profileform="ngForm" (ngSubmit)="onSubmit()">
     
      <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" maxlength="8" placeholder="enter first name" pattern="^[a-zA-Z]*$"
         required [(ngModel)]="candidate.firstName" name="firstName"  #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
         <!-- <small class="text-danger" [class.d-none]="fname.valid || fname.untouched">First Name is required</small>-->
        
         <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
           <small class="text-danger" *ngIf="firstName.errors.required">First Name  is required</small>
           <small class="text-danger" *ngIf="firstName.errors.pattern">First Name allow charaters at begining</small>
         </div>
    
      </div>
  

      <div class="form-group col-sm-6 col-12">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" maxlength="8" pattern="^[a-zA-Z]*$"  placeholder="enter last name" required [(ngModel)]="candidate.lastName" #lastName="ngModel"
         name="lastName" [class.is-invalid]="lastName.invalid &&  lastName.touched">
        <!-- <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>-->
        <div *ngIf="lastName.errors && (lastName.invalid && lastName.touched)">
          <small class="text-danger" *ngIf="lastName.errors.required">Last Name is required</small>
          <small class="text-danger" *ngIf="lastName.errors.pattern">Last name allow charaters at begining</small>
        </div>
      </div>
    </div>
  

      <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="enter the email" required [(ngModel)]="candidate.email" name="email"
        #email="ngModel"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  [class.is-invalid]="email.invalid && email.touched">
    
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
          <small class="text-danger" *ngIf="email.errors.pattern"> please enter valid Email address</small>
        </div>
        
      </div>
      <!--[(ngModel)]="candidate.phone"-->
      <div class="form-group col-sm-6 col-12">
        <label for="phone">Mobile Number</label>
        <input type="text" class="form-control" id="phone" pattern="[0-9]{10}" required [(ngModel)]="candidate.phone" name="phone" placeholder="enter the Mobile Number" maxlength="10" #phone='ngModel'>
        <div *ngIf='phone.touched && phone.invalid'> 
          <small class="text-danger" *ngIf='phone.errors.required'>
              Mobile number is required
          </small>
          <small class="text-danger" *ngIf='phone.errors.pattern'>
              mobile number must be in 10 digits
          </small>
        </div>
 
      </div>
    </div>

      <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for="address">Address</label>
        <textarea class="form-control" id="address"  min="30"  placeholder="enter the address information" required [(ngModel)]="candidate.address"
         name="address" #address="ngModel"  [class.is-invalid]="address.invalid && address.touched"></textarea>
         <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required</small>
      </div>


     <fieldset class="form-group col-sm-6 col-12 ">
        <div class="row font-weight-bold">
          <legend class="col-form-label col-sm-2 pt-0 ml-2">Gender</legend>
          <div class="col-sm-10 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"  id="gender" name="gender" [(ngModel)]="candidate.gender" value="male" checked >
              <label class="form-check-label" for="gender">
                Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"  id="gender1" value="female" name="gender" [(ngModel)]="candidate.gender">
              <label class="form-check-label" for="gender1">
                Female
              </label>
            </div>
              </div>
          </div>
      </fieldset>
    </div>
     
      <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for="company">Company Name</label>
        <input type="text" class="form-control" id="company"  min="15" placeholder="enter the company name" required [(ngModel)]="candidate.company" name="company" 
         #company="ngModel" [class.is-invalid]="company.invalid && company.touched">
         <small class="text-danger" [class.d-none]="company.valid || company.untouched">Company Name is required</small>
      </div>

      <div class="form-group col-sm-6 col-12">
        <label for="current_location">Current Location</label>
        <input type="text" class="form-control" id="current_location" min="15" placeholder="enter the current location" required [(ngModel)]="candidate.current_location"
         name="current_location" #current_location="ngModel" [class.is-invalid]="current_location.invalid && current_location.touched">
         <small class="text-danger" [class.d-none]="current_location.valid || current_location.untouched">Current Location is required</small>
      </div>
    </div>
     
      <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for=" birth_date">Birth Date</label>
        <input type="date" class="form-control" id=" birth_date" required [(ngModel)]="candidate.birth_date" name="birth_date">
      </div>

      <div class="form-group col-sm-6 col-12">
        <label for="qualification">Qualification</label>
        <input type="text" class="form-control" id="qualification" placeholder="enter your qualification" required [(ngModel)]="candidate.qualification" name="qualification">
      </div>
    </div>

      <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for=" experience">Experience</label>
        <input type="number" class="form-control" id="experience" placeholder="enter your experience" required [(ngModel)]="candidate.experience" name="experience">
      </div>
    </div>

    <button [disabled]="profileform.form.invalid" type="submit" mat-raised-button color="accent">ADD</button>
    </form>
  </div>
</mat-card-content>
</mat-card>
</div>
 <!-- <div [hidden]="!submitted">
    <h4 class="text-success">Candidate Added successfully!</h4>
     <button mat-raised-button color="primary" (click)="newCandidate()">Ok</button> 
  </div>-->
<footer>
  <app-footer></app-footer>
</footer>