.body{
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;

}
.w3{
    max-width: 60vw;
    max-height: 90vh;
}
.container{
    display:flex;
    justify-content: center;
    
}

span img{
    width: 12vw;
}
